<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :content, class: 'form-label' %>
      <%= form.text_field :content, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <% if question.persisted? %>
      <div class="float-end">
        <%= link_to 'Destroy', question, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if question.persisted? %>
      <%= link_to "Cancel", question, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", questions_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
